* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}

.burger-menu {
  display: none;
  position: fixed;
  right: 10px;
  top: 28px;
  transform: translate(-50%, -50%);
  z-index: 3;
}
.nav-menu-overrlay {
  opacity: 0;
  pointer-events: none;
  position: fixed;
  height: 100vh;
  width: 100vw;
  left: 0;
  top: 0;
  background-color: #e5e5e5;
  z-index: 2;

  transition: opacity 0.2s ease-in-out;

  p {
    font-family: Oswald;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 15px;
    text-align: right;
    letter-spacing: 0.15em;
    text-transform: uppercase;

    color: #ffffff;
  }

  ul {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    li {
      margin-bottom: 10px;
      margin-top: 10px;

      list-style: none;
      a {
        text-decoration: none;
        font-family: "Oswald";
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 0.15em;
        text-align: center;
        text-transform: uppercase;

        cursor: pointer;
        pointer-events: initial;

        color: #242424;
      }
    }
  }

  .logo {
    position: absolute;
    left: 10px;
    top: 25px;

    font-family: "Oswald";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: 0.15em;
    text-align: left;

    color: #ffffff;

    transform: translate(0, -50%);
  }
  .imprint {
    position: absolute;
    left: 10px;
    bottom: 25px;

    transform: translate(0, -50%);
  }

  .copyright {
    position: absolute;
    right: 20px;
    bottom: 10px;

    transform: translate(0, -50%);
  }
}

.nav-menu-active {
  opacity: 1 !important;
}

body {
  background-color: #fbfbfb;

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  &::-webkit-scrollbar {
    display: none;
  }
}
header {
  width: 100%;
  height: 64px;

  position: sticky;
  top: 0;
  z-index: 1;

  background-color: #fbfbfb;

  .header-wrapper {
    width: calc(100vw - 128px);
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: auto;
    p {
      font-family: "Oswald";
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 21px;
      letter-spacing: 0.15em;
      text-align: left;

      color: #242424;
    }

    a {
      font-family: "Oswald";
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 21px;
      letter-spacing: 0.15em;
      text-align: left;

      color: #242424;

      text-decoration: none;
    }

    nav {
      min-width: 40%;
      ul {
        position: relative;
        left: 8px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        list-style-type: none;
      }
    }
  }
}
.svg-wrapper {
  margin-top: 15px;
  cursor: pointer;

  text-decoration: none;

  svg {
    pointer-events: none;
  }
  rect {
    pointer-events: none;
  }
  div {
    pointer-events: none;
  }
}
.footer-item-left-margin {
  position: relative;
  left: -28px;
  height: 40px;
  margin: 0px !important;
}

.footer-item-right-margin {
  position: relative;
  right: -44px;
  height: 40px;
  margin: 0px !important;
}

.shape {
  stroke-dasharray: 140 540;
  stroke-dashoffset: -474;
  stroke-width: 0px;
  fill: transparent;
  stroke: #242424;
  border-bottom: 5px solid black;
  transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
}
.text {
  top: -32px;
  position: relative;

  font-family: "Oswald";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  letter-spacing: 0.15em;
  text-transform: uppercase;

  color: #242424;
}

.footer-text-left {
  top: -32px;
  position: relative;

  font-family: "Oswald";
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 15px;
  letter-spacing: 0.15em;
  text-align: center;

  color: #242424;
}

.footer-text-right {
  top: -38px;
  position: relative;

  font-family: "Oswald";
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 15px;
  letter-spacing: 0.15em;
  text-align: center;

  color: #242424;
}
.footer-text-oneline-right {
  top: -32px;
  position: relative;

  font-family: "Oswald";
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 15px;
  letter-spacing: 0.15em;
  text-align: center;

  color: #242424;
}
.svg-wrapper:hover .shape {
  stroke-width: 4px;
  stroke-dashoffset: 0;
  stroke-dasharray: 760;
}

.active-nav-item .shape {
  stroke-width: 4px;
  stroke-dashoffset: 0;
  stroke-dasharray: 760;
}
.deactive-nav-item .shape {
  stroke-dasharray: 140 540;
  stroke-dashoffset: -474;
  stroke-width: 0px;
}

.footer {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%);
  background-color: #fbfbfb;
  height: 64px;
  width: 100%;
  overflow: hidden;
}

.sticky-footer {
  position: sticky !important;
  bottom: 0px !important;
  transform: none !important;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100vw - 128px);
  height: 100%;
  margin: auto;
  text-decoration: none;

  p {
    font-family: "Oswald";
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 15px;
    text-align: right;
    letter-spacing: 0.15em;
    text-transform: uppercase;

    color: #242424;
  }
  a {
    text-decoration: none;

    font-family: "Oswald";
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 15px;
    text-align: right;
    letter-spacing: 0.15em;
    text-transform: uppercase;

    color: #242424;
  }
}

.transparent {
  background-color: rgba($color: #000000, $alpha: 0) !important;
}

@media only screen and (max-width: 769px) {
  header {
    nav {
      display: none;
    }
  }
  .burger-menu {
    display: inline;
  }

  .header-wrapper {
    width: calc(100vw - 40px) !important;
  }

  .footer-wrapper {
    width: calc(100vw - 40px) !important;
  }

  .svg-wrapper:hover .shape {
    stroke-width: 0px;
    stroke-dashoffset: 0;
    stroke-dasharray: 760;
  }
}

@media only screen and (max-width: 376px) {
  .header-wrapper {
    width: calc(100vw - 20px) !important;
  }

  .footer-wrapper {
    width: calc(100vw - 20px) !important;
  }
}

.scroll-image {
  object-fit: 120%;
  object-position: 0px 0px;
}
