.shop-container {
  position: absolute;
  width: 100vw;
  height: 100vh;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  z-index: -1;

  background-image: url("../../assets/shop-bacground.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.border {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  pointer-events: none;
  transition: border 0.4s ease-in-out;

  border: 64px solid #fbfbfb;
}

.shop-buttons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 50%;

  align-items: center;
  height: 50%;

  a {
    text-decoration: none;

    font-family: "Oswald";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.15em;

    color: #242424;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 105px;
    height: 53px;

    border: 2px solid #242424;

    transition: all 0.4s ease-in-out;

    &:first-child {
      position: absolute;
      left: 10%;
      top: 50%;

      transform: translate(-50%, -50%);
    }

    &:last-child {
      position: absolute;
      left: 90%;
      top: 50%;

      transform: translate(-50%, -50%);
    }

    span {
      pointer-events: none;
    }

    &:hover {
      width: 137px;
      height: 69px;
    }
  }
}

@media only screen and (max-width: 769px) {
  .border {
    border-left: 20px solid #fbfbfb;
    border-right: 20px solid #fbfbfb;
  }

  .shop-buttons {
    width: 80%;
  }
}

@media only screen and (max-width: 600px) {
  .border {
    border-left: 10px solid #fbfbfb;
    border-right: 10px solid #fbfbfb;
  }

  .shop-buttons {
    height: 45%;
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: space-around;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    a {
      &:first-child {
        position: static;
        transform: none;
      }
      &:last-child {
        position: static;
        transform: none;
      }
    }
  }
}
