body {
  background-color: #fbfbfb;
}

.contact-main {
  min-height: calc(100vh - 128px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-main-wrapper {
  width: 665px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
  position: relative;
  top: 50%;
  -webkit-transform: translate(0, 20%);
          transform: translate(0, 20%);
}

.contact-main-wrapper h1 {
  font-family: "Oswald";
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: 37px;
  letter-spacing: 0.15em;
  text-align: center;
  color: #242424;
  margin-top: -130px;
}

.contact-main-wrapper p {
  font-family: "Oswald";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.15em;
  text-align: left;
  margin: 25px 0;
  color: #242424;
}

.contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 280px;
}

.form-inputs-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.from-inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.from-inputs input {
  width: 322px;
  height: 40px;
  background-color: transparent;
  border: 2px solid #242424;
  margin-bottom: 20px;
  padding-left: 10px;
  font-family: "Oswald";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: 0.15em;
  text-align: left;
  color: #242424;
}

.from-inputs input:focus {
  outline: none;
}



.message-input {
  width: 322px;
  height: 220px;
  background-color: transparent;
  border: 2px solid #242424;
  padding-left: 10px;
  padding-top: 185px;
  padding-right: 10px;
  overflow-y: hidden;
  font-family: "Oswald";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: 0.15em;
  text-align: left;
  color: #242424;
}

.message-input:focus {
  outline: none;
}

.from-submit-btn {
  width: 76px;
  height: 40px;
  background-color: #242424;
  font-family: "Oswald";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.15em;
  color: #fbfbfb;
  position: relative;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  outline: none;
  border: none;
  cursor: pointer;
}

.from-submit-btn:focus {
  outline: none;
  border: none;
}

#status {
  font-family: "Oswald";
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.15em;
  color: #242424;
}

@media only screen and (max-width: 768px) {
  .contact-main-wrapper {
    -webkit-transform: translate(0, 25%);
            transform: translate(0, 25%);
  }

  .contact-main-wrapper h1 {
    margin-top: 20px;
  }
}

@media only screen and (max-width: 690px) {
  .contact-main {
    margin-top: 80px;
    margin-bottom: 50px;
}

  .contact-main-wrapper {
    width: calc(100vw - 20px);
    position: relative;
    bottom: 0;
    top: 0;
    -webkit-transform: none;
            transform: none;
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .contact-form {
    height: auto;
  }
  .from-submit-btn {
    margin: 25px 0;
  }
  .form-inputs-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*# sourceMappingURL=contact.css.map */